<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>368436131679-h2020n9vi0j75b76rvc1l5606c14l84s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.368436131679-h2020n9vi0j75b76rvc1l5606c14l84s</string>
	<key>API_KEY</key>
	<string>AIzaSyCLw6m1RnhNDqhXYWKdwSWoAKZaQ1-1eTo</string>
	<key>GCM_SENDER_ID</key>
	<string>368436131679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sampleFlutterProject</string>
	<key>PROJECT_ID</key>
	<string>dumy-ab85a</string>
	<key>STORAGE_BUCKET</key>
	<string>dumy-ab85a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368436131679:ios:10ee58a8e0d2f87c0728ea</string>
</dict>
</plist>